src/tables/*.parquet
se_env/*
!se_env/.gitkeep
*.pth
*.ipynb_checkpoints
*.pkl
*.temp
nbks/iframe_figures/*
*.tar
outputs/augmented_data/*.parquet
outputs/aggregated_syn_events.parquet
outputs/coord_w_syn_distributions.parquet
debug.ipynb
outputs/coord_gdf_w_pool*